%aside{class: "navbar navbar-vertical navbar-expand-lg", "data-bs-theme": "dark"}
  .container-fluid
    .navbar-brand.navbar-brand-autodark
      = link_to dashboard_root_path do
        = image_tag("open-ews_landscape_logo.png", class: "navbar-brand-image")

    #sidebar-menu.collapse.navbar-collapse
      %ul.navbar-nav.pt-lg-3
        = sidebar_nav(translate(:"titles.broadcasts.index"), dashboard_broadcasts_path, icon_class: "ti ti-speakerphone")
        = sidebar_nav(translate(:"titles.beneficiaries.index"), dashboard_beneficiaries_path, icon_class: "ti ti-address-book")
        = sidebar_nav(translate(:"titles.users.index"), dashboard_users_path, icon_class: "ti ti-user")
