= page_title(title: title)

.card-body
  = show_for(resource) do |f|
    = f.attribute :id
    = f.attribute :delivery_attempt do
      = link_to(resource.delivery_attempt_id, dashboard_delivery_attempt_path(resource.delivery_attempt_id))
    = f.attribute :call_flow_logic, value: translate("simple_form.options.defaults.call_flow_logic.#{resource.call_flow_logic}")

    = f.attribute :created_at, value: local_time(resource.created_at)
    = f.attribute :details, value: json_attribute_value(resource.details)
