<%= page_title(title: title) do %>
  <% url =
    (
      if resource.is_a?(BatchOperation::CalloutPopulation) && resource.broadcast
        dashboard_broadcast_batch_operation_path(resource.broadcast, resource)
      else
        dashboard_batch_operation_path(resource)
      end
    ) %>
  <%= render("shared/destroy_resource_page_action", path: url) %>

  <% if resource.may_queue? %>
    <%= button_to(dashboard_batch_operation_batch_operation_events_path(resource, event: :queue), class: "btn btn-outline-success", form_class: "d-inline", form: { data: { turbo_confim: translate(:"titles.actions.data_confirm")}}) do %>
      <%= translate(:"titles.batch_operations.queue") %>
    <% end %>
  <% end %>

  <% if resource.is_a?(BatchOperation::CalloutPopulation) %>
    <%= render(
      "shared/edit_resource_page_action",
      path: edit_dashboard_batch_operation_callout_population_path(resource),
    ) %>
  <% end %>
<% end %>

<div class="card-body">
  <%= show_for(resource) do |f| %>
    <%= f.attribute :id %>
    <%= f.attribute :type, value: resource.model_name.human %>
    <%= f.attribute :status, value: resource.status.humanize %>
    <% if resource.is_a?(BatchOperation::CalloutPopulation) && resource.broadcast %>
      <%= f.attribute :broadcast do %>
        <%= link_to(resource.broadcast.id, dashboard_broadcast_path(resource.broadcast)) %>
      <% end %>
      <%= f.attribute :contact_filter_metadata,
                  value: json_attribute_value(resource.contact_filter_metadata) %>
    <% end %>
    <%= f.attribute :created_at, value: local_time(resource.created_at) %>
  <% end %>
</div>
