= content_tag_for(:tr, broadcast, role: "row") do
  %td
    = link_to(broadcast.id, show_location(broadcast))
  %td
    = broadcast.status.humanize
  %td
    %code
      = translate("simple_form.options.defaults.call_flow_logic.#{broadcast.call_flow_logic}")
  %td
    = local_time(broadcast.created_at)
