= content_tag_for(:tr, broadcast, role: "row") do
  %td
    = link_to(broadcast.id, show_location(broadcast))
  %td
    = broadcast.channel.humanize
  %td
    = broadcast.status.humanize
  %td
    = local_time(broadcast.created_at)
