.card-body
  = simple_form_for([:dashboard, resource]) do |f|
    = f.input :channel
    = f.input :audio_file, as: :file, input_html: { direct_upload: true, accept: Broadcast::AUDIO_CONTENT_TYPES.join(", ") }
    = f.input :audio_url
    .form-group.actions
      = f.button :submit, class: 'btn btn-primary'
      = link_to(translate(:"titles.actions.cancel"), :back, class: 'btn btn-outline-dark')
