!!!
%html{lang: current_user.locale}
  %head
    %title= title(resource)
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

    = csrf_meta_tags
    = favicon_link_tag

    -# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!)
    -#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json)

    %link{rel: "icon", href: "/icon.png", type: "image/png"}
    %link{rel: "icon", href: "/icon.svg", type: "image/svg+xml"}
    %link{rel: "apple-touch-icon", href: "/icon.png"}

    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"

    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}/
    %link{:crossorigin => "", :href => "https://fonts.gstatic.com", :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap", :rel => "stylesheet"}/

  %body
    .page
      = render("layouts/dashboard/side_navigation")
      = render("layouts/dashboard/header")

      .page-wrapper
        .page-header.d-print-none
          .container-xl
            .row.g-2.align-items-center
              .col
                %h2.page-title Broadcasts

              .col-auto.ms-auto.d-print-none
                .btn-list
                  %a.btn.btn-primary.btn-5.d-none.d-sm-inline-block{"data-bs-target" => "#modal-report", "data-bs-toggle" => "modal", :href => "#"}
                    / Download SVG icon from http://tabler.io/icons/icon/plus
                    %svg.icon.icon-2{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                      %path{:d => "M12 5l0 14"}
                      %path{:d => "M5 12l14 0"}
                    New

        .page-body
          .container-xl
            .card
              = render("shared/alerts")
              = yield
